<a href="https://colab.research.google.com/github/Shisiajoy/PYTHON-DATA-ANALYSIS/blob/main/Pandas03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex - GroupBy

Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this Diagram

Step 1. Import the necessary libraries

In [1]:
import pandas as pd

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called drinks.

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drinks = pd.read_csv(url)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

Step 4. Which continent drinks more beer on average?

In [4]:
continent_beer_avg = drinks.groupby('continent')['beer_servings'].mean().idxmax()
print("Continent that drinks more beer on average:", continent_beer_avg)

Continent that drinks more beer on average: EU

Step 5. For each continent print the statistics for wine consumption.

In [5]:
wine_stats = drinks.groupby('continent')['wine_servings'].describe()
print("Statistics for wine consumption by continent:\n", wine_stats)

Statistics for wine consumption by continent:
            count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

Step 6. Print the mean alcohol consumption per continent for every column

In [8]:
# Convert relevant columns to numeric
drinks['beer_servings'] = pd.to_numeric(drinks['beer_servings'], errors='coerce')
drinks['spirit_servings'] = pd.to_numeric(drinks['spirit_servings'], errors='coerce')
drinks['wine_servings'] = pd.to_numeric(drinks['wine_servings'], errors='coerce')
drinks['total_litres_of_pure_alcohol'] = pd.to_numeric(drinks['total_litres_of_pure_alcohol'], errors='coerce')

# Group by continent and calculate the mean alcohol consumption per continent for every column
alcohol_mean_per_continent = drinks.groupby('continent').mean()

# Print the result
print("Mean alcohol consumption per continent for every column:\n", alcohol_mean_per_continent)

TypeError: Could not convert AlgeriaAngolaBeninBotswanaBurkina FasoBurundiCote d'IvoireCabo VerdeCameroonCentral African RepublicChadComorosCongoDR CongoDjiboutiEgyptEquatorial GuineaEritreaEthiopiaGabonGambiaGhanaGuineaGuinea-BissauKenyaLesothoLiberiaLibyaMadagascarMalawiMaliMauritaniaMauritiusMoroccoMozambiqueNamibiaNigerNigeriaRwandaSao Tome & PrincipeSenegalSeychellesSierra LeoneSomaliaSouth AfricaSudanSwazilandTogoTunisiaUgandaTanzaniaZambiaZimbabwe to numeric

Step 7. Print the median alcohol consumption per continent for every column

In [9]:
alcohol_median_per_continent = drinks.groupby('continent').median()
print("Median alcohol consumption per continent for every column:\n", alcohol_median_per_continent)

TypeError: could not convert string to float: 'Algeria'

Step 8. Print the mean, min and max values for spirit consumption.
This time output a DataFrame

In [10]:
spirit_stats = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max'])
print("Mean, min, and max values for spirit consumption per continent:\n", spirit_stats)

Mean, min, and max values for spirit consumption per continent:
                  mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302