<a href="https://colab.research.google.com/github/Shisiajoy/PYTHON-DATA-ANALYSIS/blob/main/Pandas01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pokemon**
Introduction:

Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

Step 2. Create a data dictionary that looks like the DataFrame below

In [ ]:

data = {
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'type': ['grass', 'fire', 'water', 'bug'],
    'hp': [45, 39, 44, 45],
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'pokedex': ['yes', 'no', 'yes', 'no']
}

Step 3. Assign it to a variable called pokemon

In [ ]:
pokemon = pd.DataFrame(data)

	evolution	hp	name	pokedex	type
0	Ivysaur	45	Bulbasaur	yes	grass
1	Charmeleon	39	Charmander	no	fire
2	Wartortle	44	Squirtle	yes	water
3	Metapod	45	Caterpie	no	bug
Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [ ]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

Step 5. Add another column called place, and insert what you have in mind.

In [ ]:
pokemon['place'] = ['Forest', 'Volcano', 'Ocean', 'Field']

Step 6. Present the type of each column

In [ ]:
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

BONUS: Create your own question and answer it.

In [ ]:

print("\nWhat is the total number of Pokemon?")
print("Total number of Pokemon:", len(pokemon))

What is the total number of Pokemon?
Total number of Pokemon: 4

introduction to pandas